<% if kitten.errors.present? %>
  <div class='form-error-message-container'>
    <% kitten.errors.full_messages.each do |error| %>
      <%= error %>
      <br>
    <% end %>
  </div>
<% end %>

<%= form_with model: [owner, kitten], class: 'form-container' do |form| %>
  <table>
    <tr>
      <td><%= form.label :name %></td>
      <td><%= form.text_field :name %></td>
    </tr>
    <tr>
      <td><%= form.label :color %></td>
      <td><%= form.select :color, Kitten::COLORS, selected: Kitten::COLORS.first %></td>
    </tr>
    <tr>
      <td><%= form.label :gender %></td>
      <td><%= form.select :gender, Kitten::GENDERS, selected: Kitten::COLORS.first %></td>
    </tr>
    <tr>
      <td><%= form.label :date_of_birth %>*</td>
      <td><%= form.date_select :date_of_birth, discard_day: true, order: [:month, :year], start_year: Date.today.year - 25, end_year: Date.today.year %></td>
    </tr>
  </table>
    <%= render partial: profile_partial, locals: { form: form, kitten: kitten } %>
  
  <%= form.submit %>
<% end %>

<p>* Just a guess is all you need</p>