<ul>
    <% @kittens.each do |kitten| %>
        <div class="stat-box">
            <h2><%= kitten.name %></h2>
            <p><b>Age:</b> <%= kitten.age %> months</p>
            <p><b>Cuteness:</b> <%= kitten.cuteness %></p>
            <p><b>Softness:</b> <%= kitten.softness %></p>
        </div>
        <%= image_tag kitten.image_url, class: "kitten-picture" %>
        <hr>
    <% end %>
    <%= link_to "Add New Kitten", new_kitten_path %>
</ul>