<h2>Add A Kitten</h2>
<%= form_with model: @kitten, url: new_owner_kitten_path do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :profile_picture %>
  <%= form.file_field :profile_picture %>

  <%= form.submit %>
<% end %>