<div class="stat-box">
  <h2><%= @kitten.name %></h2>
  <p><b>Age:</b> <%= @kitten.age %> months</p>
</div>
<%= image_tag @kitten.main_image, class: "kitten-picture" %>

<% @kitten.images.each do |image| %>
  <%= image_tag image, class: "kitten-picture" %>
<% end %>

<%= form_with model: @kitten do |form| %>
  <%= form.label "Upload Another Image" %>
  <%= form.file_field :images %>

  <%= form.submit "Upload" %>
<% end %>