<%= image_tag @kitten.profile_picture, class: "kitten-picture" %>
<div class="stat-box">
  <h2><%= @kitten.name %></h2>
  <p><b>Age:</b> <%= @kitten.age %> months</p>
</div>
<%= follow_or_unfollow_button(@owner, @kitten, @follower) %>
<% if @kitten.images.empty? %>
  <p>No images of this poor kitten!</p>
<% else %>
  <div class="post-pic-link-grid">
    <% @kitten.images.each do |image| %>
      <%= link_to(image_tag(image, class: "post-pic-link"), owner_kitten_image_post_path(@owner, @kitten, ImagePost.find_by(id:image.record_id))) %>
    <% end %>
  </div>
<% end %>

<%= link_to 'Add Another Post', new_owner_kitten_image_post_path(@owner, @kitten) %>