<h2> <%= @post.title %> </h2>
<%= image_tag @post.image, class: "post-pic" %>
<% unless @post.body.nil? %>
  <div class="post-body"><%= @post.body %></div>
<% end %>

<% if current_owner_liked_post?(@post) %>
  <%= link_to owner_kitten_image_post_like_path(@owner, @kitten, @post), data: { turbo_method: :delete}, class: "like-button" do %>
    <div class="like-button-container">
      <%= image_tag 'thumb-up', class: 'feed-card-icon ' %>
      Unlike
      <%= @post.likes.count %>
    </div>
  <% end %>
<% else %>
  <%= link_to owner_kitten_image_post_likes_path(@owner, @kitten, @post), data: { turbo_method: :post}, class: "like-button" do %>
    <div class="like-button-container">
      <%= image_tag 'thumb-up', class: 'feed-card-icon ' %>
      Like
      <%= @post.likes.count %>
    </div>
  <% end %>
<% end %>

<span>
  <% unless @post.first? @kitten %> <%= link_to 'Previous', owner_kitten_image_post_path(@owner, @kitten, ImagePost.previous(@post)) %> <% end %>
  <%= link_to 'Back To Kitten\'s Page', owner_kitten_path(@owner, @kitten) %>
  <% unless @post.last? @kitten %> <%= link_to 'Next', owner_kitten_image_post_path(@owner, @kitten, ImagePost.next(@post)) %> <% end %>
</span>
<% if current_user_kitten_owner? @kitten %>
  <div class="manage-image-post-container">
    <span>
      <%= link_to 'Make Kitten\'s Profile Image', set_kitten_profile_picture_path, data: { turbo_method: :patch} %>
      <%= link_to 'Edit Post', edit_owner_kitten_image_post_path %>
      <%= link_to 'Delete Post', owner_kitten_image_post_path, data: { turbo_method: :delete } %>
    </span>
  </div>
<% end %>