<!DOCTYPE html>
<html>
  <head>
    <title>OdinKittens</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main>
      <% if owner_signed_in? %>
        <span>
          Hey there, <%= current_owner.username %>!
          <%= link_to 'Sign Out', destroy_owner_session_path, data: { turbo_method: :delete } %>
        </span>
      <% else %>
        <span>
          <%= link_to 'Sign In', new_owner_session_path %>
          <%= link_to 'Sign Up', new_owner_registration_path %>
        </span>
      <% end %>
      <%= image_tag "pink_logo.gif", class: 'logo-image' %>
      <%= yield %>
    </main>
  </body>
</html>
